{% extends 'base.html' %}

{% block search %}

    <div class="logo-input clearfix" style="display:flex">
        <ul class="v-switcher-header v-switcher-header-around v-switcher-header-translate">
            <li class="v-switcher-header-item is-active" style="height:48px;line-height:48px;width:50%;">
                <a href="/video/index/" class="router-link-exact-active router-link-active">视频</a>
            </li>
            <li class="v-switcher-header-item" style="height:48px;line-height:48px;width:50%;">
                <a href="/author/index/" style="color:#99a2aa">作者</a>
            </li>
        </ul>
        <div class="search-block">
            <form action="/video/index/" method="get" style="margin: 0; display: inline">
            <div class="input-wrap">
                    <input id="search-keyword" type="text" maxlength="100" autocomplete="off" name="search"
                           value={{ search_keyword }}>
            </div>
            <button class="search-button">
                <i class="icon-search-white"></i>
                <span class="search-text">搜索</span>
            </button>
            </form>
            <div class="search-loupe">
                <i class="icon-loupe"></i>
            </div>
            <div><span>搜索用时：{{ time_ms }}</span></div>
        </div>
    </div>

{% endblock %}

{% block body %}

    <ul class="video-list clearfix" style="margin-top: 30px">
        {% for video in video_list %}
            <li class="video-item matrix">
                <a href="/video/detail/{{ video.bvid }}"
                   title="{{ video.title }}" target="_blank" class="img-anchor">
                    <div class="img">
                        <div class="lazy-img">
                            <img alt="" src="/static/cover/{{ video.avid }}.jpg"></div>
                        <span class="so-imgTag_rb">{{ video.duration }} s</span>
                        <span class="mask-video"></span>
                    </div>
                </a>
                <div class="info">
                    <div class="headline clearfix">
                        <a title="{{ video.title }}"
                           href="/video/detail/{{ video.bvid }}"
                           target="_blank" class="title">{{ video.title }}
                        </a></div>
                    <div class="tags">
                        <span title="观看" class="so-icon watch-num">
                  <i class="icon-playtime"></i>{{ video.play }}
                </span>
                        <span title="弹幕" class="so-icon">
                  <i class="icon-subtitle"></i>{{ video.danmaku }}
                </span>
                        {#                    <span title="上传时间" class="so-icon time">#}
                        {#                  <i class="icon-date"></i>2021-08-01</span>#}
                        <span title="up主" class="so-icon">
                  <i class="icon-uper"></i>
                  <a href="/author/detail/{{ video.up_uid }}" target="_blank"
                     class="up-name">{{ video.up_name }}</a>
               </span>
                    </div>
                </div>
            </li> <!--repeat-->
        {% endfor %}
    </ul>

{% endblock %}

{% block page %}
    <ul class="pages">
        {% if prev_page != -1 %}
            <li class="page-item next">
                <a href="/video/index/{{ prev_page }}{% if search_keyword != '' %}?search={{ search_keyword }}{% endif %}">
                    <button class="nav-btn iconfont icon-arrowdown3">上一页</button>
                </a>
            </li>
        {% endif %}
        {% for page in page_list %}
            {% if page == -1 %}
                <strong>...</strong>
            {% else %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a href="/video/index/{{ page }}{% if search_keyword != '' %}?search={{ search_keyword }}{% endif %}">
                        <button class="pagination-btn num-btn">{{ page }}</button>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if next_page != -1 %}
            <li class="page-item next">
                <a href="/video/index/{{ next_page }}{% if search_keyword != '' %}?search={{ search_keyword }}{% endif %}">
                    <button class="nav-btn iconfont icon-arrowdown3">下一页</button>
                </a>
            </li>
        {% endif %}
    </ul>
    <div class="jump-pager">

        <span>跳至</span>
        <form action="/video/index{% if search_keyword != '' %}/search/{{ search_keyword }}{% endif %}"
              method="get" style="margin:0; display:inline;">
            <input type="number" min="1" max="{{ total_page }}" name="jump_to">
        </form>
        <span>页</span>
    </div>
{% endblock %}